.dart_tool/
.packages
.pub/
build/

# IDE
.idea/
.vscode/
*.iml

# Flutter / platform
android/.gradle/
android/local.properties
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# Misc
*.log
